<ion-view view-title="Home">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider"><h1>Recipe of the day:</h1></div>
      <div class="item item-body">
        <div>
          <img src= "img\food1.jpg">
          <p>Foods name <br>
          cooking time <br>
          food type, allergies...</p>
          <a href= "recipe-page.html">
            <p>Read more >>></p>
          </a>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider"><h1>Popular recipes:</h1></div>

      <div class="item item-body">
        <div>
          <img src= "img\food2.jpg">
          <p>Foods name <br>
          cooking time <br>
          food type, allergies...</p>
          <a href= "#">
            <p>Read more >>></p>
          </a>
        </div>
        </div>
        
        <div class="item item-body">
        <div>
          <img src= "img\food3.jpg">
       <p>Foods name <br>
          cooking time <br>
          food type, allergies...</p>
            <a href= "#">
            <p>Read more >>></p>
          </a>
        </div>
        </div>
      
    </div>
  </ion-content>
</ion-view>
